.container {
  border: 0.5px solid #313131;
  background: #353535;
  border-radius: 8px;
  cursor: pointer;
  .cover {
    position: relative;
    .imageContainer {
      position: relative;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0px 4px 22px 7px rgba(0, 0, 0, 0.25);
      }
      .puncture {
        position: absolute;
        width: 25px;
        height: 25px;
        background: white;
        left: calc(50% - 12.5px);
        top: calc(50% - 12.5px);
        border-radius: 50%;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.6);
      }
    }
    padding: 10px 40px;
  }
  .info {
    text-align: center;
    margin-top: 20px;
    color: rgb(204, 204, 204);
    
    .albumName {
      font-family: "Big Shoulders Display";
      font-style: normal;
      font-size: 32px;
      line-height: 57px;
      display: block;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 230px;
    }

    .albumInfo {
      font-family: "Big Shoulders Display";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 29px;
      display: block;
      font-weight: 300;
    }

    .tooltip{
      font-size: 20px;
      background: rgb(75, 75, 75);
      border-radius: 8px;
      color: white;
    }
  }
}
